* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-image: url(images/pexels-life-of-pix-8892.jpg);
    background-size: 200%;
}
header {
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: #4C5C68;
}
header > * {
    width: calc(100% / 3);
}
.logo img {
    max-width: 40vw;
}
/* The following code is for a collapsible hamburger navigation menu, courtesy of CodeBurst.io*/
.menuContent {
    max-height: 0;
    overflow: hidden;
    padding: 0 0 0 25px;
}
.collapsibleMenu {
    background-color: #C5C3C6;
    padding: 0px 10px;
    border-bottom: 3px solid #1985A1;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
    font-weight: 600;
}
.collapsibleMenu ul {
    padding: 0;
    font-size: 3vw;
}
.collapsibleMenu a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #46494c;
    font-weight: 600;
}
.collapsibleMenu label {
    font-size: 3vw;
    display: inline-block;
    cursor: pointer;
    background: url(images/menu-burger.png) no-repeat left center;
    padding: 10px 0 10px 40px;
}
input#menu {
    display: none;
}
input:checked +label {
    background-image: url(images/cross.png);
}
input:checked ~ .menuContent {
    max-height: 100%;
}
/* End of referenced code courtesy of Codeburst.io */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.heroSection {
    text-align: center;
    padding: 5px;
}
#heroImage {
    margin-top: 8%;
    border-radius: 50%;
    animation: fadeIn 4s;
    width: 75%;
    border: 3px solid #1985A1;
}
.heroSection h1 {
    padding-top: 10px;
    padding-bottom: 5px;
    color: #F6F9FE;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
    /* text-shadow: 2px 2px 2px rgba(76,92,104,0.5); */
}
.heroSection h2 {
    font-size: 1rem;
}
.heroSection h3 {
    margin-top: 10px;
    font-size: 0.8rem;
}
#heroButtons {
    display: flex;
    justify-content: center;
    padding: 15px;
}
#heroButtons button {
    padding: 10px;
    border-radius: 24px;
    cursor: pointer;
    background-color: #1985A1;
    font-weight: 600;
    color: #F6F9FE;
    margin: 0px 5px 0px 5px;
}
#heroButtons button:hover {
    background-color: rgba(25,133,161,0.5);
    color: #46494c;
}
footer .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #4C5C68;
    height: 120px;
    width: 100%;
}
i.fa {
    font-size: 48px;
    color: #F6F9FE;
}
.footer a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
/* .footer img {
    display: flex;
    justify-content: center;
    align-content: center;

} */
/* div .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
} */
